<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
    <img src="/assets/APLogo.png" id="logo" alt="logo" />
  </div>

  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
    <a href=""><img src="/assets/in.png" class="social" alt="liImage" /></a>
    <a href=""><img src="/assets/tw.png" class="social" alt="twImage" /></a>
  </div>

  <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
    <button type="button" class="btn btn-outline-light" (click)="login()">LOGIN</button>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <img src="/assets/banner.png" id="banner" alt="logo" />
  </div>

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <img src="/assets/pokerface.png" id="perfil" alt="" class="img-fluid"/>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h1 class="text">Acerca de mi</h1>
    <p class="p2"> En esta sección se encuentra tu foto de perfil, nombre y titulo que tienes
      (Full Stack Developer Jr); En esta sección debes poner información
      profesional resumida sobre vos.</p>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="nombre">
    <p class="nombre"> <strong>Dany Gonzalez</strong></p>
    <p class="p1">Full Stack Developer Jr</p>
  </div>
</div>
</div>