<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="encabezado">
    <h1 class="text">EDUCACION</h1>
  </div>

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <img src="assets/arg-programa.png" alt="foto argProg" />
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h2 class="text">Full Stack Developer Jr</h2>
    <p>3ra Edicion</p>
    <p>Buenos Aires, Argentina 2022</p>
  </div>

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <img src="assets/cuam.png" alt="foto cuam" />
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h2 class="text">TSU Adm. Aduanas</h2>
    <p>Colegio universitario de Administración y mercadeo</p>
    <p>Caracas, Venezuela 2015</p>
  </div>

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <img src="assets/emilioCrespo.png" alt="foto emilio crespo" />
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h2 class="text">Bachiller en Ciencias</h2>
    <p>U.E.P Emilio Crespo Miranda, Venezuela 2003-2008</p>
    <p>Miranda, Venezuela 2008</p>
  </div>
</div>
</div>
