.container-fluid{
    padding-top: 50px;
    background-color: silver;
}
img{
    padding-top: 50px;
    float: right;
    width: 100px;
}
.text {
    color: slategrey;
    font-size: 23px;
    margin: 20px;
}
p{
    color: slategrey;
    margin: 20px;
}
a{
    margin: 20px;
    display: block;
    background-color: blueviolet;
    color: white;
}
#encabezado{
    margin-left: 50px;
}
div{
 align-content: center;
}
ul{
    margin-left: 8px;
}