.container-fluid{
    background-color: silver;
    padding-top: 50px;
}
img{
    float: right;
    width: 100px;
}
.text{
    color: slategrey;
    font-size: 25px;
    margin: 20px;
}
ul{
    margin-left: 10px;
}
#encabezado{
    margin-left: 50px;
}